@model IEnumerable<GoalsManager.Goal>

@{
    ViewData["Title"] = "Index";
}

<h1>Список целей</h1>


<div class="goals-wrapper">

    @foreach (var item in Model)
    {

		<div class="goal-card goal-@item.Status.ToString().ToLower()">
			<div class="goal-card-elements">
				<div class="goal-title">@item.Name</div>
				<div class="goal-bottom-block">
					<div class="goal-group">Группа: @item.Group</div>
					<div class="goal-dates-block">
						<div class="goal-start">@item.DateTimeStart</div>
						<div class="goal-end">@item.DateTimeEnd</div>
					</div>
				</div>
			</div>
			<div class="link-block">
				<a asp-action="Edit" asp-route-id="@item.GoalId">Edit</a>
				<a asp-action="Details" asp-route-id="@item.GoalId">Details</a>
				<a asp-action="Delete" asp-route-id="@item.GoalId">Delete</a>
			</div>
		</div>
        
    }

</div>

<a asp-controller="Goals" asp-action="AddGoal" class="create-goal-button">+</a>
